.login-bg{
  background:url("img1") no-repeat center center/cover;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-container{
  width:400px;
  background:white;
  padding:40px;
  border-radius:10px;
  box-shadow:0 0 20px rgba(0,0,0,0.5);
  text-align:center;
}

.login-container input{
  width:100%;
  padding:10px;
  margin:10px 0;
  border-radius:5px;
  border:1px solid #ccc;
}

button{
  width:100%;
  padding:12px;
  background:#2a5298;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

.forgot-link{
color:#2b7cff;
cursor:pointer;
margin-top:10px;
font-size:14px;
}

.forgot-link:hover{
text-decoration:underline;
}
