.signup-page {

  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  /*background: #eef2f7;*/
  background-image: url("char1.jpeg");

}


/* Main container */

.signup-container {

  width: 850px;

  height: 550px;

  display: flex;

  background: white;

  border-radius: 10px;

  box-shadow: 0 0 20px rgba(0,0,0,0.2);

  overflow: hidden;

}


/* LEFT PANEL */

.left-panel {

  width: 50%;

  background: linear-gradient(to bottom, #4b6cb7, #182848);

  color: white;

  padding: 40px;

}


.left-panel h2 {

  margin-bottom: 20px;

}


.left-panel ul {

  margin-top: 20px;

}


.left-panel li {

  margin-bottom: 10px;

}


/* RIGHT PANEL */

.right-panel {

  width: 50%;

  padding: 30px;

  background: #f9fbfd;

  overflow-y: auto;

}


.right-panel label {

  font-weight: bold;

  margin-top: 10px;

  display: block;

}



.right-panel input,
.right-panel textarea,
.right-panel select {

  width: 100%;

  padding: 8px;

  margin-top: 5px;

  border-radius: 5px;

  border: 1px solid #ccc;

}


/* Password box */

.password-box {

  position: relative;

}


.eye {

  position: absolute;

  right: 10px;

  top: 8px;

  cursor: pointer;

}


/* Gender */

.gender {

  display: flex;

  justify-content: space-between;

}


/* Button */

button {

  width: 100%;

  padding: 10px;

  margin-top: 15px;

  background: #4b6cb7;

  color: white;

  border: none;

  border-radius: 5px;

}


button:hover {

  background: #182848;

}


.error {

  color: red;

}
